{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}glossary.css" />
{% endblock %}

{% block content %}
    <div class = "glossary">
    	<ul>
    	{% for l in a_z %}
    	    {% ifequal l letter %}
    	        <li class = "current"><a href = "q?={{ l }}">{{ l }}</a></li>
    	    {% else %}
    		    <li><a href = "q?={{ l }}">{{ l }}</a></li>
    		{% endifequal %}
    	{% endfor %}
    	</ul>
    	{% if results %}
    	<div class = "content_block">
        	<dl>
        		{% for result in results %}
        			<dt class = "term">{{ result.title }}</dt>
        			<dd class = "definition">{{ result.description }}</dd>
        		{% endfor %}
        	</dl>
    	</div>
    	{% endif %}
	</div>
{% endblock %}