{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}glossary.css" />
{% endblock %}

{% block content %}
	<ul class = "glossary">
	{% for letter in a_z %}
		<li class = "glossary"><a href = "q?={{ letter }}">{{ letter }}</a></li>
	{% endfor %}
	</ul>
	{% if results %}
	<dl class = "glossary">
		{% for result in results %}
			<dt class = "glossary term">{{ result.title }}</dt>
			<dd class = "glossary definition">{{ result.description }}</dd>
		{% endfor %}
		</dl>
	{% endif %}
{% endblock %}